<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>curso VUE3</title>
    <!-- VUE CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--STYLE-->
    <link rel="stylesheet" href="assets/styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="cart">Cart: {{ cart }}</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!--IMAGEM DO PRODUTO-->
            <img :src="image" alt="img-product" />
          </div>
          <div class="product-info">
            <!--INFO DO PRODUTO-->
            <h1>{{ product_title + ' ' + brand }}</h1>
            <p v-if="inStock >= 10">In Stock</p>
            <p v-else-if="inStock <10 && inStock >=1">Almost sold out</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div v-for="variant in variants" :key="variants.id" @mouseover="changeImage(variant.image)" class="color-circle" :style="{ backgroundColor: variant.color}">
            </div>
            <button class="button" :class="{ disabledButton : inStock < 1}" @click="addToCart" :disabled="inStock < 1">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const cart = ref(0);
          const addToCart = () => {
            cart.value += 1;
          };
          const image = ref("assets/images/mine.jpg");
          const changeImage = (variantImage) => {
            image.value = variantImage;
          };

          return {
            product_title: ref("T-shirt"),
            brand: 'Marconyu',
            image,
            inStock: ref(9),
            details: ["50% Cotton", "30% Polyester", "20%Woll"],
            variants: [
              { id: 1, color: "blue", image: "assets/images/t-shirt-blue.png" },
              { id: 2, color: "green", image: "assets/images/t-shirt-green.png" },
              { id: 3, color: "minecraft", image: "assets/images/mine.jpg" },
              { id: 4, color: "purple", image: "assets/images/chickenjockey.jpg"},
            ],
            cart,
            addToCart,
            changeImage,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
